<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idvances.fingerbuy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Food"
            android:label="食"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Cloth"
            android:label="衣"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Live"
            android:label="住"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Transmit"
            android:label="行"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Education"
            android:label="育"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Entertainment"
            android:label="樂"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".Content_Acivity"
            android:label="Test"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
